<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/assets/css/styles.css">

        <!-- =====BOX ICONS===== -->
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <title>Portfolio website complete</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    Huzefa Taj
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active-link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#work" class="nav__link">Work</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                        <li class="nav__item"><a href="/cv" class="nav__link">CV</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home bd-grid" id="home">
                <div class="home__data">
                    <h1 class="home__title">Hola!!<br>I'am <span class="home__title-color">Huzefa Taj</span><br> <span id="app" ></span></h1>

                    <a href="#contact" class="button">Contact</a>
                </div>

                <div class="home__social">
                    <a href="https://www.linkedin.com/in/huzefa-taj-5554631b5/" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
                   
                    <a href="https://github.com/huzefaTaj" class="home__social-icon"><i class='bx bxl-github' ></i></a>
                </div>

                <div class="home__img">
                    <svg class="home__blob" viewBox="0 0 479 479" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <mask id="mask0" mask-type="alpha">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                        </mask>
                        <g mask="url(#mask0)">
                            <path d="M9.19024 145.964C34.0253 76.5814 114.865 54.7299 184.111 29.4823C245.804 6.98884 311.86 -14.9503 370.735 14.143C431.207 44.026 467.948 107.508 477.191 174.311C485.897 237.229 454.931 294.377 416.506 344.954C373.74 401.245 326.068 462.801 255.442 466.189C179.416 469.835 111.552 422.137 65.1576 361.805C17.4835 299.81 -17.1617 219.583 9.19024 145.964Z"/>
                            <image class="home__blob-img" x="50" y="102" href="../static/assets/img/me avatar.png"/>
                        </g>
                    </svg>
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section " id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="../static/assets/img/ava.png" alt="">
                    </div>
                    
                    <div>
                        <h2 class="about__subtitle">I'am Huzefa Taj</h2>
                        <p class="about__text">I'm a young, passionate Developer having working experience in the IT industry. Strong knowledge of clean code, UI/UX designs and a solid knowledge of cloud computing. My goal is to always create products which deliver a perfect performance experience.</p>           
                    </div>                                   
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container bd-grid">          
                    <div>
                        <h2 class="skills__subtitle">Top 5 Profesional Skills</h2>
                         <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-python skills__icon'></i>
                                <span  class="skills__name">Python 3</span>
                            </div>
                           
                           
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-django skills__icon'></i>
                                <span class="skills__name">Django</span>
                            </div>
                         
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-react skills__icon' ></i>
                                <span class="skills__name">React Js</span>
                            </div>
                         
                          
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-postgresql skills__icon' ></i>
                                
                                <span class="skills__name">postgresql</span>
                            </div>
                        
                        </div>
                        <div class="skills__data">
                            <div class="skills__names">
                                <i class='bx bxl-aws skills__icon' ></i>
                                
                                <span class="skills__name">AWS</span>
                            </div>
                        
                        </div>
                    </div>
                    
                    <div>              
                        <img src="static/assets/img/work3.jpg" alt="" class="skills__img">
                    </div>
                </div>
            </section>

            <!--===== WORK =====-->
            <section class="work section" id="work">
                <h2 class="section-title">Work</h2>

                <div class="work__container bd-grid">
                 
                    {%for i in project %}
                    <a href="{{i.liveproject}}" class="work__img">
                        <img src="/media/{{i.img}}" alt="">
                        <h3   class="skills__subtitle" style=" text-align: center;"> {{ i.title }}</h3>
                       
                        
                    </a>
                    {% endfor %}
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <form  id="form" method="post" action="/" class="contact__form">
                        {% csrf_token %}
                        <input id="n" name="name"  type="text" placeholder="Name" class="contact__input" required>
                        <input id="e" name="email" type="mail" placeholder="Email" class="contact__input" required>
                        <textarea id="m" name="message" name="" id="" cols="0" rows="10" class="contact__input" required></textarea>
                        <input id="submit" type="submit" value="Enviar" class="contact__button button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer">
            <p class="footer__title">Huzefa Taj</p>
            <div class="footer__social">
                <a href="https://www.linkedin.com/in/huzefa-taj-5554631b5/" class="footer__icon"><i class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/huzefaTaj" class="footer__icon"><i class='bx bxl-github' ></i></a>
                
            </div>
            <p class="footer__copy">Copyright © HuzefaTaj 2024</p>
        </footer>


        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>
        <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
        <script>
            var app = document.getElementById('app');

var typewriter = new Typewriter(app, {
    loop: true
});

typewriter.typeString('Software Developer')
    .pauseFor(2500)
    .deleteAll()
    .typeString('Full stack Developer')
    
    .pauseFor(2500)
    .start();
        </script>

        <!--===== MAIN JS =====-->
        <script src="static/assets/js/main.js"></script>

<script>document.addEventListener('contextmenu', function(e) {
    e.preventDefault();
  });</script>
    </body>
</html>

